
.but
{
    visibility: hidden;
}
body
{
    text-align: center;
}
.level
{
    text-align: right;
    padding: 30px 70px;
    font-weight: 900;
}
.name{
    margin: 50px auto;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 50px;
    font-weight: 800;    
}
.alphabates 
{
    margin: 10px auto;
    font-family: cursive;
}
.alphah1{
    background-color: rgb(71, 218, 255);
    padding: 10px 0;
    border-radius: 10px;
}
.times
{
    text-align: left;
    padding: 30px 70px;
    font-weight: 900;
}
